
<!DOCTYPE html>
<html lang="zxx">
{% load static %}
{% include 'html_utils/head.html' %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFC5925"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader" style="background: url(static/assets/css/loader.gif) center no-repeat #fff;"></div>

<!-- Option Panel -->
<!-- <div class="option-panel option-panel-collased">
    
    <h2 style="color:green;">Your Reserved Rooms</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Reservation code</th>
                <th scope="col">Name</th>
                <th scope="col">Comfirmed</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {%for room in my_booked_rooms %}
            <tr>
                <th scope="row"><img width="50" height="50" src="{{room.room.thumbnail.url}}" alt=""> </th>
                <td>{{room.reservation_code}}</td>
                <td>{{room.room.name}}</td>
                <td>{%if room.comfirmed%}
                    <div id="comfirm">
                        <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                    </div>
                   
                   
                      {%else%}

                      <div id="cancel">
                             <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                      </div>
                   
                {%endif%}
                </td>
              
                <td>
                    {%if  room.comfirmed%}
                    <button onclick="concelBooking(event)" value="{{room.room.name}}" room="{{room.room.name}}" type="button" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                        </svg>
                   Cancel
              </button>
                       
                    {%else%}
                    <button onclick="comfirmBooking(event) "value="{{room.room.name}}" room="{{room.room.name}}"  type="button" class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                Comfirm
              </button>
                    {%endif%}
                </td>
            </tr>
            {%empty%}
            No Booked room yet
            {%endfor%}
           
            
        </tbody>
    </table>
    
    <div style="background-color: green;" class="setting-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </div>
</div> -->
<!-- /Option Panel -->

<!-- Main header start -->
{% include 'html_utils/header.html' %}
<!-- Main header end -->


<!-- Banner start -->
<div class="banner" id="banner-2">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item active">
                <img class="d-block w-100 h-100" src="{% static 'assets/img/img-3.jpg'%}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100">
                    <div class="carousel-content container align-self-center">
                        <div class="row bti-section">
                            <div class="col-lg-7 col-md-12 align-self-center">
                                <div class="banner-test-info wow fadeInLeft delay-04s">
                                    <h2>Welcome To {{lodge}} lodge</h2>
                                    <p> {{lodge.description}}</p>
                                    <a class="btn-lg btn-4 btn-6" href="{% url 'rooms'%}">Get Started Now</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 wow fadeInRight delay-04s">
                                <div class="search-area-box-2">
                                    <div class="search-contents">
                                        <form id="search-form" method="POST">
                                            {% csrf_token%}
                                            <h4>View my <span>Reservations</span></h4>
                                            <div hidden class="form-group">
                                                <input type="text" name="check-in" id="check-in" class="btn-default datepicker" placeholder="Check In">
                                            </div>
                                            <div hidden class="form-group clearfix">
                                                <input type="text" name="check-out" id="check-out" class="btn-default datepicker" placeholder="Check Out">
                                            </div>
                                             <div  class="form-group clearfix">
                                                <input type="tel" class="btn-default" name="phone" id ='phone'  placeholder="Phone Number">
                                            </div>
                                            <div  class="form-group clearfix">
                                                <input type="text" class="btn-default" name="reservation-code" id ='reservation-code' maxlength="4"  placeholder="Reservation Code">
                                            </div>
                                            <div class="form-group mb-0">
                                                <button type="submit" class="w-100 btn-theme btn-4 btn-7">Search</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- About hotel alpha start -->
<div class="about-hotel-alpha content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 wow fadeInLeft delay-04s">
                <div class="about-img-section">
                    <div class="image-box">
                        <div class="image-1"><img src="{% static 'assets/img/img-4.jpg'%}" class="rounded" alt="photo"></div>
                        <div class="image-2"><img src="{% static 'assets/img/img-5.jpg'%}" class="rounded" alt="photo"></div>
                    </div>
                    <div class="about-box-Experience">
                        <h3 class="text-white">2</h3>
                        <p class="mb-0 text-white">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInRight delay-04s align-self-center">
                <div class="about-content-section">
                    <h1>Welcome To Hotel Alpha</h1>
                    <ul class="network-list mb-40">
                        <li>
                            <i class="icon fa fa-building-o"></i>
                            <h4>Compact and Comfortable Rooms</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                        <li>
                            <i class="icon flaticon-room-service"></i>
                            <h4>Friendly Fair Prices and Service</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                        <li>
                            <i class="icon flaticon-school-call-phone-reception"></i>
                            <h4>Public Safety and 24/7 Security</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed magna aliqua.eius to mod incididunt</p>
                        </li>
                    </ul>
                    <a class="btn-lg btn-5" href="#"><span>Explore More</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About hotel alpha start -->

<!-- Hotel section start -->
<div class="content-area hotel-section bg-grey">
    <div class="overlay">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Our Best Rooms</h1>
                <p>Our lodge offers the finest accommodations featuring comfortable rooms</p>
            </div>
            <div class="row wow fadeInUp delay-04s">
               {% for room in our_best_rooms %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="hotel-box">
                        <!-- Photo thumbnail -->
                        <div class="photo-thumbnail">
                            <div class="photo">
                                <img src="{{room.thumbnail.url}}" alt="photo" class="img-fluid w-100">
                                <a href="{% url 'room_details' room.id %}">
                                    <span class="blog-one__plus"></span>
                                </a>
                            </div>
                            <div class="pr">
                                <div class="rating">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix">
                            <h3>
                                <a href="{% url 'room_details' room.id %}">{{room.name}}</a>
                            </h3>
                            <p style="display:flex; justify-content: space-between;" class="location">
                                <a href="{% url 'room_details' room.id %}">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                    </svg>
                                   More Details 
                                </a>
                                  <span>TZS {{room.price}}<span/>
                            </p> 
                            <div  class="fecilities w-100">
                                <a class="btn-lg btn-5" href="{% url 'room_details' room.id %}"><span>Book Now</span></a>

                                <ul>
                                    <li>
                                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {%empty%}
                No rooms
              {%endfor%}
               
            </div>
        </div>
    </div>
</div>
<!-- Hotel section end -->

<!-- Our facilties section start -->
<div class="our-facilties-section content-area-5">
    <div class="overlay">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Our Polices</h1>
                <p>Below are our Lodge Policies, please adhere for the best stay on our premises</p>
            </div>
            <div class="row">
                {%for a in polices %}
                <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInLeft delay-04s">
                    <div class="services-box-2 d-flex">
                        <div class="icon">
                            <i class="flaticon-school-call-phone-reception"></i>
                        </div>
                        <div class="contant">
                            <h3><a href="#">{{a.title}}</a></h3>
                            <p>{{a.description}}</p>
                        </div>
                    </div>
                </div>
                {%empty%}
                 No content
               {%endfor%}
            </div>
        </div>
    </div>
</div>
<!-- Our facilties section end -->
<!-- Footer start -->
<footer class="main-footer clearfix">
   
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p> &copy;  {% now 'Y' %} <a href="/" target="_blank">{{lodge.name}} Lodge</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="clearfix"></div>
                  
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="res_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{lodge}} lodge</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body">
        <div id="sms"></div>
        <table class="table">
        <thead>
            <th scope="col">Image</th>
            <th scope="col">Reservation code</th>
            <th scope="col">Name</th>
            <th scope="col">Comfirmed</th>
            <th scope="col">action</th>
        </thead>
        <tbody id="modal-body">
           
           
        </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Footer end -->

<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
<script  src="{% static 'assets/js/bootstrap-submenu.js'%}"></script>
<script  src="{% static 'assets/js/jquery.mb.YTPlayer.js'%}"></script>
<script  src="{% static 'assets/js/wow.min.js'%}"></script>
<script  src="{% static 'assets/js/bootstrap-select.min.js'%}"></script>
<script  src="{% static 'assets/js/jquery.easing.1.3.js'%}"></script>
<script  src="{% static 'assets/js/jquery.scrollUp.js'%}"></script>
<script  src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script  src="{% static 'assets/js/jquery.filterizr.js'%}"></script>
<script src="{% static 'assets/js/bootstrap-datepicker.min.js'%}"></script>
<script  src="{% static 'assets/js/slick.min.js'%}"></script>
<script  src="{% static 'assets/js/sidebar.js'%}"></script>
<script  src="{% static 'assets/js/app.js'%}"></script>
<script  src="{% static 'assets/js/dropzone.js'%}"></script>
<script  src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script  src="{% static 'assets/js/ie10-viewport-bug-workaround.js'%}"></script>



<!-- Custom javascript -->

<script>
//search-form
    function dateFormat(inputDate, format) {
    //parse the input date
    const date = new Date(inputDate);

    //extract the parts of the date
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();    

    //replace the month
    format = format.replace("MM", month.toString().padStart(2,"0"));        

    //replace the year
    if (format.indexOf("yyyy") > -1) {
        format = format.replace("yyyy", year.toString());
    } else if (format.indexOf("yy") > -1) {
        format = format.replace("yy", year.toString().substr(2,2));
    }

    //replace the day
    format = format.replace("dd", day.toString().padStart(2,"0"));

    return format;
}

  $('#search-form').on('submit', function(e) {
        
  e.preventDefault();
  if($('#phone').val() !== "" && $('#reservation-code').val()!== ""){
      console.log(dateFormat( $('#check-in').val(), 'yyyy-MM-dd'))
      console.log(dateFormat( $('#check-out').val(), 'yyyy-MM-dd'))
      console.log($('#reservation-code').val())
    const form_data = {
                action:"search_room",
                check_in : dateFormat( $('#check-in').val(), 'yyyy-MM-dd'),
                check_out : dateFormat( $('#check-out').val(), 'yyyy-MM-dd'),
                phone :$('#phone').val(),
                res_code : $('#reservation-code').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
            }

            console.log(form_data)
        $.ajax({
            type : "POST", 
            url: '/search-reservation',
            data: form_data,
            success: function(data){
                const myModal = new bootstrap.Modal(document.getElementById('res_modal'), {
                keyboard: false
                })
                const  final_data = JSON.parse(data.query_set)
                const final_detaied = JSON.parse(data['detailed_qs'])
                console.log(final_detaied)
                let modal_body= document.getElementById('modal-body')
                modal_body.innerHTML = ''
                let html = ''
                for(let index =0; index < final_detaied.length; index++){
                    const fields = final_detaied[index]
                    html += `
                     <tr>
                        <th scope="row">  <img width="50" height="50" src="${fields.room_image}" class="rounded" alt="..."></th>
                        <td>${fields.res_code}</td>
                        <td>${fields.room_name}</td>
                        <td>${fields.comfirmed? `
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                             </svg>
                             `: `
                             <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>`}
                        </td>
                        <td></td>
                    </tr>
                    `
               }

               modal_body.innerHTML= html
                myModal.show()
            },
            failure: function(error) {
                console.log(error)
            }
        });
        

      }
      else  {
          console.log($('#check-in').val())
            //console.log($('#check_out').val())
            //let sms = document.getElementById('sms-1')
            //sms.innerText = `Fill in all fields`
            //sms.style.display = 'block' 
            //console.log($('#changed_room').val())
    }
 });    

  

function concelBooking(event){
    room_id = event.target.getAttribute('room');
    console.log( event.target.value)
    $.ajax({
        type : "POST", 
        url: '/manageBookingstatus',
        data: {
            action:"concel_booking",
            reservation_id: event.target.value,
            room_id: room_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
        },
        success: function(data){
            console.log(data)
            let sms = document.getElementById('sms')
            sms.innerHTML = `<div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                               ${data.msg}  the status will change in few minus
                            </div>`
                           
            sms.style.display = 'block'
            
        },
        failure: function() {
        }
    });
}




function comfirmBooking(event){
    room_id = event.target.getAttribute('room');
    console.log( event.target.value,room_id)
    $.ajax({
        type : "POST", 
        url: '/manageBookingstatus',
        data: {
            action:"comfirm_booking",
            reservation_id: event.target.value,
            room_id: room_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
        },
    success: function(data){
        let sms = document.getElementById('sms')
        sms.innerHTML = `<div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <div>
                        ${data.msg}, the status will change in few minus

                    </div>
                    </div>`
        sms.style.display = 'block'
    },
    failure: function() {
    }
});

}

</script>

</body>
</html>
