<!DOCTYPE html>
<html lang="zxx">
  {%load static %} {% include 'html_utils/head.html'%}
  <body>

    <div
      class="page_loader"
      style="
        background: url(static/assets/css/loader.gif) center no-repeat #fff;
      "
    ></div>


    <!-- Top header end -->

    <!-- Main header start -->
    {% include 'html_utils/room_details_main_header.html' %}
    <!-- Main header end -->


    <!-- Sub banner start -->
    <div class="sub-banner">
      <div class="container">
        <div class="breadcrumb-area">
          <h1>Available Rooms</h1>
        </div>
        <nav class="breadcrumbs">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Available Rooms
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Sub Banner end -->

    <!-- Rooms section start -->
    <div class="rooms-section content-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {%for room in rooms %}
            <div class="row hotel-box-list-2 hbl-2 g-0">
              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <div class="photo-thumbnail">
                  <div class="photo">
                    <img
                      src="{{room.thumbnail.url}}"
                      alt="photo"
                      class="img-fluid w-100"
                    />
                    <a href="{% url 'room_details' room.id %}">
                      <span class="blog-one__plus"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7 col-md-7 col-sm-12">
                <div class="detail">
                  <div class="heading clearfix">
                    <h3 class="title">
                      <a href="{% url 'room_details' room.id %}"
                        >{{room.name}}</a
                      >
                      <span class="price">{{room.price}} TSH</span>
                    </h3>
                  </div>
                  <p>{{room.description}}</p>
                  <h3>Amenities</h3>
                  <ul class="fecilities clearfix">
                    {%for a in amenities %}
                    <li>
                      <i class="flaticon-bed"></i>
                      {{a.name}}
                    </li>
                    {%empty%} No content {%endfor%}
                  </ul>
                </div>
              </div>
            </div>
            {%empty%} No rooms {%endfor%}
          </div>
        </div>

        <!-- Page navigation start -->

        <div class="pagination-box">
          <span class="step-links">
            {% if rooms.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ rooms.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.
            </span>

            {% if rooms.has_next %}
            <a href="?page={{ rooms.next_page_number }}">next</a>
            <a href="?page={{ rooms.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
        <!-- <div class="pagination-box">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                {% if rooms.has_previous %}
                <a class="page-link" href="?page=1">&laquo; first</a>
                <a href="?page={{ rooms.previous_page_number }}"
                  ><i class="fa fa-angle-left"></i
                ></a>
              </li>

              <li class="page-item current">
                <a class="page-link active" href="rooms-col-1.html">
                  Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.</a
                >
              </li>

              <li class="page-item">
                {% endif %} {% if rooms.has_next %}
                <a href="?page={{ rooms.next_page_number }}">next</a>
                <a
                  class="page-link"
                  href="?page={{ rooms.paginator.num_pages }}"
                  ><i class="fa fa-angle-right"></i>&raquo;</a
                >
                {% endif %}
              </li>
            </ul>
          </nav>
        </div> -->
        <!-- Page navigation end -->
      </div>
    </div>
    <!-- Rooms  section end -->

    <!-- Footer start -->
    <footer class="main-footer clearfix">
      <div class="copy-right">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <p>
                &copy; {% now 'Y' %}
                <a href="/" target="_blank"
                  >{{lodge.name}} Lodge</a
                >. All Rights Reserved.
              </p>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="clearfix"></div>
              <ul class="social-list">
                <li>
                  <a href="#" class="twitter-bg"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="facebook-bg"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="rss-bg"><i class="fa fa-rss"></i></a>
                </li>
                <li>
                  <a href="#" class="google-bg"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="linkedin-bg"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-submenu.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mb.YTPlayer.js'%}"></script>
    <script src="{% static 'assets/js/wow.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.easing.1.3.js'%}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.filterizr.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'assets/js/slick.min.js'%}"></script>
    <script src="{% static 'assets/js/sidebar.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script src="{% static 'assets/js/dropzone.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js'%}"></script>
  </body>
</html>
