{%load static %}

<header class="main-header" id="main-header-1">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logos" href="{% url  'home' %}">
                <img src="{% static 'assets/img/logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" id="drawer" type="button">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100 justify-content-end" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Index
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="index.html">Index 1</a></li>
                            <li><a class="dropdown-item" href="index-2.html">Index 2</a></li>
                            <li><a class="dropdown-item" href="index-3.html">Index 3</a></li>
                            <li><a class="dropdown-item" href="index-4.html">Index 4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <li><a class="dropdown-item" href="rooms-col-1.html">Rooms 1 Column</a></li>
                            <li><a class="dropdown-item" href="rooms-col-2.html">Rooms 2 Column</a></li>
                            <li><a class="dropdown-item" href="rooms-col-3.html">Rooms 3 Column</a></li>
                            <li><a class="dropdown-item" href="rooms-details.html">Rooms Details 1</a></li>
                            <li><a class="dropdown-item" href="rooms-details-2.html">Rooms Details 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Gallery</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="gallery-3column.html">Gallery 3 Column</a></li>
                                    <li><a class="dropdown-item" href="gallery-4column.html">Gallery 4 Column</a></li>
                                    <li><a class="dropdown-item" href="gallery-masonry.html">Gallery Masonry</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">About Us</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">About Us 1</a></li>
                                    <li><a class="dropdown-item" href="about-2.html">About Us 2</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="booking-system.html">Booking System</a>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Staff</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="staff.html">Staff 1</a></li>
                                    <li><a class="dropdown-item" href="staff-2.html">Staff 2</a></li>
                                    <li><a class="dropdown-item" href="staff-3.html">Staff 3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Events</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="events.html">Events 1</a></li>
                                    <li><a class="dropdown-item" href="events-right-sidebar.html">Events 2</a></li>
                                    <li><a class="dropdown-item" href="events-details.html">Events Details</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="pricing-tables.html">Pricing Tables</a>
                            <li><a class="dropdown-item" href="typography.html">Typography</a>
                            <li><a class="dropdown-item" href="faq.html">Faq</a>
                            <li><a class="dropdown-item" href="login.html">Login</a>
                            <li><a class="dropdown-item" href="signup.html">Sigup</a>
                            <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                            <li><a class="dropdown-item" href="404.html">404 Error</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                            <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a class="dropdown-item" href="blog-full-width.html">Blog Fullwidth</a></li>
                            <li><a class="dropdown-item" href="blog-creative.html">Blog Creative</a></li>
                            <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <li><a class="dropdown-item" href="contact.html">Contact 1</a></li>
                            <li><a class="dropdown-item" href="contact-2.html">Contact 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item sp">
                        <a id="header-search-btn" class="nav-link link-color"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="header-search animated fadeInDown">
                <form class="form-inline">
                    <input type="text" class="form-control" id="searchKey" placeholder="Search...">
                    <div class="search-btns">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>