<div class="option-panel option-panel-collased">
    <h2>Change Color</h2>
    <div class="color-plate sandybrown-plate" data-color="sandybrown"></div>
    <div class="color-plate blue-light-2-plate" data-color="blue-light-2"></div>
    <div class="color-plate yellow-plate" data-color="yellow"></div>
    <div class="color-plate red-plate" data-color="red"></div>
    <div class="color-plate green-light-plate" data-color="green-light"></div>
    <div class="color-plate purple-plate" data-color="purple"></div>
    <div class="color-plate blue-plate" data-color="blue"></div>
    <div class="color-plate peru-plate" data-color="peru"></div>
    <div class="color-plate green-plate" data-color="green"></div>
    <div class="color-plate blue-light-plate" data-color="blue-light"></div>
    <div class="color-plate green-light-2-plate" data-color="green-light-2"></div>
    <div class="color-plate royalblue-plate" data-color="royalblue"></div>
    <div class="setting-button">
        <i class="fa fa-gear"></i>
    </div>
</div>